* {
    font-family: 'Ubuntu', Arial, sans-serif;
}

h1 {
    text-align: center;
}

strong {
    font-weight: 900;
}

form {
    width: 500px;
    margin: auto;
}

form input {
    margin: 5px 0;
}

form textarea {
    resize: none;
}